body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    margin: 5px;
    font-size: 20px;
}

/* Header */
.header {
    background: #e5e9bf;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.logo {
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
}

/* Hero */
.hero-container {
    background: #e5e9bf;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 25px;
    padding: 90px;
}

.hero-content {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin-right: 100px;

}

button {
    background: #4CAF50;
    box-sizing: border-box;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    align-self: flex-start;

}

.hero-img {
    height: auto;
    width: 400px;
}

/* Cards */

.cards-container {
    display: flex;
    flex-direction: column;
    border-top: 2px black solid;
    border-bottom: 2px black solid;

}

.cards-title {
    align-self: center;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px;
    width: 300px;
}

.card img {
    width:  200px;
    height: 200px;
    object-fit: cover;
    border: black 2px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.card a {
    font-size: 25px;

}

/* Quote */
.quote-container {
    background: rgb(218, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 20px;
    font-size: 30px;
}

.quote {
    align-self: center;
    font-style: italic;
}

.quote span { /* "love" */
    color: rgb(233, 97, 97);
}

.quote-container p {
    text-align: center;
    font-size: 15px;
}

.quote-container p span { /* "Fever Dreams" */
    font-style: italic;
}


/* Footer */
.footer {
    background: #e5e9bf;
    text-align: center;
}

.footer h3 {
    font-size: 15px;
}