body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    font-size: 20px;
    font-family: monospace;
    color: white;
    text-shadow: 1px 1px 2px black;
}

a:hover {
    color: #ffbf10;
}

/* Header */
.header {
    background: #252525;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.logo {
    padding: 20px;
}

.logo img {
    height: auto;
    width: 300px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
}

/* Hero */
.hero-container {
    background: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 25px;
    padding: 90px;
}

.hero-content {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin-right: 100px;
    color: white;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 2px;
    text-overflow: clip;
}

button {
    background: #ffbf10;
    box-sizing: border-box;
    color: wheat;
    box-shadow: 5px 5px 2px rgb(0, 0, 0);
    border: 2px solid #ebb010;
    border-radius: 10px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    font-size: 16px;
    font-family: monospace;
    align-self: flex-start;
    margin-top: 20px;
}

button:hover {
    background: #ebb010;
}

button:active {
    background: #ebb010;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    transform: translate(2px, 2px);
}

.hero-img {
    border: 2px solid black;
    border-radius: 10px;
    height: auto;
    width: 400px;
}

/* Cards */

.cards-container {
    display: flex;
    flex-direction: column;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    padding: 20px;
}

.cards-title {
    align-self: center;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px;
    width: 300px;
}

.card img {
    width:  200px;
    height: 200px;
    object-fit: cover;
    border: black 2px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.card img:hover {
    width:  205px;
    height: 205px;
    object-fit: cover;
    border: black 2px solid;
    border-radius: 10px;
    box-shadow: 10px 10px 8px black;
}

.card a {
    font-size: 25px;
    font-family: monospace;
    color: black;
}

.card a:hover {
    color: #ffbf10;    
}

/* Quote */
.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 120px;
    font-size: 40px;
    background: url(/odin-landing-page/images/ag-banner-2.png) no-repeat center fixed;
    background-size: cover;
    border-bottom: 2px black solid;
    color: white;
}

.quote {
    align-self: center;
    font-style: italic;
    padding-bottom: 10px;
}

.quote span { /* "love" */
    color: rgb(233, 97, 97);
}

.quote-content {
    display: flex;
    flex-direction: column;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.quote-container p {
    align-self: flex-end;
    font-size: 20px;
}

.quote-container p span { /* "Fever Dreams" */
    font-style: italic;
}

/* Newsletter */
.newsletter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin: 0;
}

.newsletter-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background: #252525;
    color: white;
    text-shadow: 1px 1px 2px black;
    padding: 25px 125px;
    gap: 50px;
}

.newsletter-content h3, p {
    align-self: flex-start;
    margin: 0;
}

.newsletter {
    display: flex;
    flex-direction: column;
}

/* Footer */
.footer {
    background: #252525;
    text-align: center;
}

.footer h3 {
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

/* Seperate Page Styles */

.band-container {
    display: flex;
}

.band-content {
    display: flex;
}

.band-image-solo {
    /* border: blue 2px solid; */
    border-right: 5px solid black;
    padding: 100px;
    justify-self: flex-start;
    min-height: 400px;
    min-width: 200px;
    background: url(/odin-landing-page/images/solo-page-img.png) no-repeat center;
}

.band-summary-container {
    border: 2px green solid;
    display: flex;
    flex-direction: column;
    width: 940px;
}

.band-title {
    border: 1px black solid;
    text-align: center;
}

.band-overview {
    display: flex;
    justify-content: space-around;
}

.band-summary {
    border: 1px yellow solid;
}

.band-projects {
    border: 1px purple solid;
}
